/* Text Stylization */
.text-blurple {
  color: #7289DA;
}

/* Error Page */
.error-code {
  font-size: 100px;
}
.error-message {

}

/* Utility */
.force-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.card.text-white {
  background-color: #343a40;
  margin-bottom: 20px;
}


.hp-right {
  text-align: left;
}

@media screen and (max-width: 991px) {
  .hp-right {
    width: 350px !important;
  }
  .container {
    margin-top: 100px;
  }
}

/* Generic Styles */
html,body {
  height: 100%;
}
